@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #333;
}

h1 {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

nav.container {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #000;
}
