@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #333;
}

h1 {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px;
}

nav.container {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #000;
}

.presentation-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

p.question {
  color: #2d9cdb;
}

.hero-description {
  font-size: 1.8rem;
  max-width: 350px;
  font-weight: 500;
  padding: 15px 0 30px;
}

.presentation-image {
  width: 100%;
}

.hero-more-description {
  max-width: 350px;
  padding-bottom: 30px;
  font-weight: 400;
}
